<div class="container">
    <h2>{{ esEdicion ? 'Editar Entrada Online' : 'Nueva Entrada Online' }}</h2>
  
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" class="form-control" formControlName="nombre" required />
      </div>
  
      <div class="form-group">
        <label for="precio">Precio</label>
        <input id="precio" type="number" class="form-control" formControlName="precio" required />
      </div>
  
      <button type="submit" class="btn-success">Guardar</button>
      <button type="button" class="btn-cancelar" routerLink="/entrada-online/list">Cancelar</button>
    </form>
  </div>
  