<!-- gestion-boliche.component.html -->
<div class="perfil-container">
  <div class="container mt-4">
    <div class="header">
      <h2>Gestión de {{ boliche.nombre }}</h2>
      <button routerLink="/boliches" class="btn btn-primary mb-3">
        Atras
      </button>
    </div>
    

    <div class="monitoring-section">
      <a class="monitoring-card ok" routerLink="/productos">
        <div class="icon"> 📊 </div>
        <h3>DashBoard</h3>
        <p>Mira las ESTADISTICAS</p>
      </a>
      <a class="monitoring-card warning" [routerLink]="['/boliche', bolicheId, 'barras']">
        <div class="icon">🍻</div>

        <h3>Barras</h3>
        <p>Crea o administra barras</p>
      </a>
      <a class="monitoring-card ok" routerLink="/productos">
        <div class="icon">📦</div>
        <h3>Productos</h3>
        <p>Gestiona los productos del boliche</p>
      </a>
      <a class="monitoring-card warning" [routerLink]="['/boliche', bolicheId, 'puntos-de-venta']">
        <div class="icon">🎟️</div>
        <h3>Puntos De Venta</h3>
        <p>Crea o administra los puntos de venta de entradas fisicas</p>
      </a>
    </div>
    <div class="monitoring-section">
      <a class="monitoring-card ok" routerLink="/entrada-online/list">
        <div class="icon">✔️</div>
        <h3>Entradas QR</h3>
        <p>Crea o administra las entradas QR</p>
      </a>
      <a class="monitoring-card warning" [routerLink]="['/boliche', bolicheId, 'barras']">
        <div class="icon">⚠️</div>
        <h3>Barras</h3>
        <p>Crea o administra barras</p>
      </a>
      <a class="monitoring-card ok" [routerLink]="['/boliche', bolicheId, 'productos']">
        <div class="icon">✔️</div>
        <h3>Productos</h3>
        <p>Gestiona los productos del boliche</p>
      </a>
      <a class="monitoring-card warning" [routerLink]="['/boliche', bolicheId, 'crear-usuario']">
        <div class="icon">⚠️</div>
        <h3>Usuario</h3>
        <p>Crea Usuario</p>
      </a>
    </div>
  </div>
</div>
