<div *ngIf="usuario; else cargando">
  <h2>Detalles del Usuario</h2>
  <p><strong>ID:</strong> {{ usuario.id }}</p>
  <p><strong>Email:</strong> {{ usuario.email }}</p>
  <p><strong>Usuario:</strong> {{ usuario.username }}</p>
  <p><strong>Nombre:</strong> {{ usuario.firstname }}</p>
  <p><strong>Apellido:</strong> {{ usuario.lastname }}</p>
  <p><strong>País:</strong> {{ usuario.country }}</p>
  <p><strong>DNI:</strong> {{ usuario.dni }}</p>
  <p><strong>Rol:</strong> {{ usuario.role }}</p>
</div>
<ng-template #cargando>
  <p>Cargando detalles del usuario...</p>
</ng-template>
