/* Diseño completo para pantallas grandes */
.body {
    height: 100vh;
    margin-left: 5rem;
    width: calc(100% - 5rem);
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: #e9f1f4;
  }
  
  /* Sidenav colapsado en pantallas medianas */
  .body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }
  
  /* Sidenav expandido en pantallas medianas */
  .body-full-width {

    transition: all 0.5s ease;

    width: 100%
  }
  
  /* Sidenav colapsado en pantallas grandes */
  .body-trimmed {
    margin-left: 16.5625rem; /* Ancho del sidenav */
    width: calc(100% - 16.5625rem);
  }
  
  /* Diseño completo con el sidenav expandido */
  .body-default {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
  }
  

  @media screen and (max-width: 768px) {
    .body {
      margin-left: 0;
      width: 100%;


    }
  
    .body-trimmed {
      margin-left: 0;
      width: 100%;
    }
  
    .body-default {
      margin-left: 0;
      width: 100%;
    }
  }


  @media screen and (max-width: 480px) {
    .body {
      margin-left: 0;    
    }
  
    .body-trimmed {
      margin-left: 0;
    }
  
    .body-default {
      margin-left: 0;
    }
  } 