<!-- Botón hamburguesa para dispositivos móviles -->

<div class="btn-hamburger" *ngIf="screenWidth <= 768">
  <button class="btn-hamburger i" (click)="toggleCollapse()">
    <i class="fal fa-bars"></i>
  </button>
</div>

<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <img src="../../../assets/images/Icono.png" alt="Logo" class="logo" (click)="toggleCollapse()" />
    <div class="logo-text" *ngIf="collapsed"></div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="data.RouteLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{ data.Label }}</span>
      </a>
    </li>
    <!-- Botón para Logout -->
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="handleLogout()">
        <i class="sidenav-link-icon fal fa-sign-out"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</div>
