/* Estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
}

:host {
  font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  
}

.left-section {
  flex: 1;
  background: linear-gradient(rgba(51, 163, 170, 0.8), rgba(51, 163, 170, 0.8)),
    url('../../../assets/images/image 3.png') no-repeat center center/cover;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  position: relative;
}

.left-section p {
  color: white;
}

/* Contenido encima del fondo */
.left-section * {
  position: relative;
  z-index: 1;
}

.right-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  border-radius: 100%;
}

/* Elementos generales */
h1, h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  line-height: 1.5;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Formulario de inicio de sesión */
.login-form {
  width: 100%;
  max-width: 400px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #0db3a7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0a9285;
}

/* Mensajes y enlaces */
.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 10px;
}

.forgot-password {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 0.9em;
  width: 100%;
}

.forgot-password a {
  color: #0db3a7;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.privacy {
  font-size: 0.8em;
  text-align: center;
  color: #888;
  margin-top: 20px;
}

.privacy a {
  color: #0db3a7;
  text-decoration: none;
}

.privacy a:hover {
  text-decoration: underline;
}

/* Progreso indeterminado */
mat-progress-bar {
  margin: 20px 0;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section, .right-section {
    flex: none;
    width: 100%;
    padding: 30px;
  }

  h1, h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .login-form {
    max-width: 100%;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1519.2px;
  }
}
